{{jquery}}

<style type="text/css" media="screen">
  body:last-child { margin-bottom: 60px; }

  #impersonation_ui {
    position: fixed; bottom: 0; font-family: "Lucida Grande"; z-index: 99000;
    width: 100%;
  }

  #impersonation_ui ul {
    margin: 0; padding: 0; list-style: none; overflow: auto;
    width: 293px;
		height: 55px;
    margin: 0 auto;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-box-shadow: 0 0 10px #222;
    -moz-box-shadow: 0 0 10px #222;
		overflow: hidden;
  }

  #impersonation_ui ul li:first-of-type a {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
  }
  #impersonation_ui ul li:last-of-type a {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
  }

  #impersonation_ui ul li { float: left; border-right: 1px solid #111; }
  #impersonation_ui ul li:last-of-type { border: 0; }

  #impersonation_ui ul li a {
		width: 273px; height: 43px;
    padding: 6px 10px; display: block; text-decoration: none; text-align: center; font-weight: bold;
    text-shadow: 1px 1px 1px #222; font-size: 14px; font-family: "Lucida Grande";
    line-height: 14px; border: 0;
  }
  #impersonation_ui ul li a span { display: block; font-size: 12px; line-height: 14px; text-transform: uppercase; text-align: center; }
  #impersonation_ui .one a {
    color: #fff;
    background-color: #c20000;
		opacity:0.8;
  }
</style>

<script type="text/javascript" charset="utf-8">
  var _body = document.body;
  var _html = $("html").get(0);
  $(window).keyup(function(event) {
    // 'i' toggles impersonation ui
    if ( event.which == 73 && (event.target == _body || event.target == _html) ) {
      $("#impersonation_ui").slideToggle();
    }
  });
</script>

<div id="impersonation_ui">
  <ul>
    <li class="one">
			<a href="/impersonation/deactivate">
				<p><span>Impersonating User</span></p>
				<p><span>Return to Administrative Mode...</span></p>
			</a>
		</li>
  </ul>
</div>