<p>Your account has been approved!</p>

<p>Login: <%= @user.to_s %></p>
<p>Password: <%= @user.password %></p>

<p>Please click here to login: <a href="http://<%= @mailer.host %>/session">http://<%= @mailer.host %>/session</a></p>