<p>Please click the link below to reset your password.</p>

<p><a href="http://<%= @mailer.host %>/account/reset_password/<%= @user.reset_password_token %>">http://<%= @mailer.host %>/account/reset_password/<%= @user.reset_password_token %></a></p>