Please click the link below to reset your password.

<a href="http://<%= @mailer.host %>/reset_password/<%= @user.reset_password_token %>">http://<%= @mailer.host %>/reset_password/<%= @user.reset_password_token %></a>