<p>A password request has been made for your account.</p>

<p>Your login information is:</p>

<p>
  Login: <%= @user.to_s %>
  Password: <%= @user.password %>
</p>
  
<p>Please click here to login: <a href="http://<%= @mailer.host %>/session">http://<%= @mailer.host %>/session</a></p>