pkg
coverage
tmp
log
private
users.db
.DS_Store
*.gemspec
*.backup
index
Gems
lib/port_authority/public/images/buttons/*
lib/port_authority/public/images/spinner.gif
lib/port_authority/public/images/delete_big.png
lib/port_authority/public/assets/*
tags
public/assets