<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      body { background-color: #eee; margin: 0; font: 12px/24px "Lucida Grande", "Trebuchet MS", sans-serif; }
      a img { border: 0; }
      h1 { color: #eee; margin: 0; text-align: center; }
      h1 a { border: 0; display: block; padding-bottom: 12px; text-decoration: none; }
      h1 a:hover { border: 0; }

      h1 img { margin: 0 12px; }
      h1 span { color: #922; display: block; font-weight: normal; font-size: 12px; letter-spacing: 3px; text-transform: uppercase; word-spacing: 5px; }

      a { border-bottom: 1px dotted #333; color: #333; padding-bottom: 1px; text-decoration: none; }
      a:hover { border-bottom: 1px solid #000; color: #000; }

      #content { background: #fff; font-size: 1.2em; margin: 150px auto 0; overflow: auto; padding: 2em; width: 600px; }
      h2 { font-size: 1.5em; font-weight: normal; text-align: center; }
      p a { border-bottom: 1px dotted #33f; color: #33f; text-decoration: none; }
      p a:hover { color: #33f; border-bottom: 1px solid #33f; }
    </style>
  </head>
  <body>
    <div id="content">
      <h1>Port Authority</h1>
      <%= @content %>
    </div>
  </body>
</html>