<form action="/account/password" method="post">

	<h1>Password Recovery</h1><br/>
	  <fieldset>
    <div style="width:340px;margin: 0 auto;line-height: 140%;margin-bottom:20px;">
    <strong>If you have forgotten your username or password, you can request to have your username emailed to you and to reset your password. When you fill in your registered email address, you will be sent instructions on how to reset your password.</strong>
    </div>
    <label for="email">Email Address</label>
    <input type="text" name="email" id="email" value="">
  </fieldset>

  <input type="submit" value="Reset Password" style="float: left;margin-top: 2px;"> 
  <div id="links" style="float: right;">
	<a href="<%= @back -%>">&laquo; Back to Login</a>
  </div>
</form>