<form action="/account/password" method="post">
  <% if request.params["message"] %><p class="message error"><%= request.params["message"] %></p><% end %>
  <fieldset>
    <label for="email">Email Address</label>
    <input type="text" name="email" id="email" value="">
  </fieldset>

  <input type="submit" value="Request Password"> <a href="<%= @back -%>">Back to Login</a>
</form>