<% if @user.dirty? && !@user.valid? %>
<ul class="message error">
<%= @user.errors.full_messages.map { |message| "<li>#{message}.\n" } %>
</ul>
<% end %>

<form action="/account/reset_password" method="post">
	<h1>Reset Your Password</h1><br/>
	<fieldset>
	  <input type="hidden" name="token" value="<%= @token %>">

    <label for="password">New Password: </label>
    <input type="password" name="user[password]">
    <label for="password">Re-enter Password: </label>
    <input type="password" name="user[password_confirmation]">
  </fieldset>

  <input type="submit" value="Reset Password" style="float: left;margin-top: 2px;">
</form>