<% if @user.dirty? && !@user.valid? %>
<ul class="message error">
<%= @user.errors.full_messages.map { |message| "<li>#{message}.\n" } %>
</ul>
<% end %>

<form action="/account/update_password" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="referrer" value="<%= h @back %>">
  <div class="column">
    <fieldset>
      <label for="password">Password</label>
      <input type="text" name="password" id="password">

      <label for="password_confirmation">Confirm Password</label>
      <input type="text" name="password_confirmation" id="password_confirmation">
    </fieldset>

    <input type="submit" class="submit" value="Update">
    <a href="<%= @back %>" class="cancel">Cancel</a>
  </div>
</form>

<script type="text/javascript" charset="utf-8">
  $(".toggle_vcard").click(function() {
    modal = $("#vcard");
    modal.load($(this).attr("href"));
    openModal(modal);
    return false;
  })
</script>
