<form action="/admin/roles" method="post">
  <div class="column">
    <%= render "admin/roles/_form" %>

    <input type="submit" value="Create" class="submit">
  </div>

  <div class="column">
    <%= render "admin/roles/_permissions" %>
  </div>
</form>